body {
    /* background-color: coral; */
    text-align: center;
}
 * {
    /* display: flex; */
    /* align-items: center; */
    /* align-content: center; */
 }
 #tooltip {
    visibility: hidden;
    width: auto;
    height: auto;
 }